:root {
    --fld-bg: #2C2F33;
    --fld-bg-2: #23272A;
    --fld-bg-2-transparent: #23272a83;
    --fld-bg-3: #000000;
    --fld-blurple: #7289DA;
    --fld-blurple-new: #5539cc;
    --fld-white: #FFFFFF;
    --fld-grey: #99AAB5;
}

body {
    background: var(--fld-bg);
    color: var(--fld-white);
}

.App-content {
    border-color: var(--fld-bg);
    background: var(--fld-bg);
    color: var(--fld-white);
}

a {
    color: var(--fld-blurple);
}
.Button {
    background: var(--fld-blurple);
    color: var(--fld-white);
}
.App-header {
    background: var(--fld-bg-2);
}
.App-header .FormControl {
    background: var(--fld-bg);
    color: var(--fld-white);
}
.FormControl:focus, .FormControl.focus {
    background-color: var(--fld-bg);
    color: var(--fld-white);
    border-color: var(--fld-bg);
    outline: none;
}
.App-header .Button:hover {
    color: var(--fld-white);
}
.App-header .Button, .App-header .Button:hover {
    color: var(--fld-white);
    background: var(--fld-blurple);
}
.Button:hover, .Button:focus, .Button.focus {
    background-color: var(--fld-blurple-new);
}
.DiscussionListItem:hover {
    background: var(--fld-bg-2);
}
.Button--primary {
    background: var(--fld-blurple-new);
}
.Composer {
    background: var(--fld-bg-2-transparent);
}
.Composer.active:not(.fullScreen) {
    background: var(--fld-bg-2);
}
.Composer.minimized {
    background: var(--fld-bg-2);
}

.FormControl {
    color: var(--fld-grey);
    background-color: var(--fld-bg-2);
}
.sideNav .Dropdown--select .Dropdown-menu>li.active>a {
    color: var(--fld-grey);
}

.sideNav .Dropdown--select .Dropdown-menu>li>a {
    color: var(--fld-grey);
}

.Dropdown-menu {
    color: var(--fld-grey)
}
.PostStream-item {
    border-color: var(--fld-bg-2);
}
.Post-body blockquote {
    background: var(--fld-bg-2);
    color: var(--fld-grey);
    border-top: none;
    border-left: 4px solid var(--fld-blurple-new);
    border-bottom: none;
}
.PostUser h3, .PostUser h3 a {
    color: var(--fld-blurple);
}
.PostMention, .UserMention {
    background: var(--fld-blurple-new);
    color: var(--fld-white);
}
.DiscussionPage-list {
    background: var(--fld-bg-2);
    border-color: var(--fld-bg-2);
}
.DiscussionPage-list .DiscussionListItem.active {
    background: var(--fld-bg);
}
.DiscussionListItem-title {
    color: var(--fld-blurple);
}